CONFIG_ARCH_BCM2835=y
CONFIG_BCM2835_MBOX=y
CONFIG_BCM2835_WDT=y
CONFIG_BCM2835_VCHIQ=y
CONFIG_SND=y
CONFIG_SND_BCM2835=y
CONFIG_SND_USB_AUDIO=y
CONFIG_USB=y
CONFIG_USB_DWCOTG=y
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_BRCMFMAC=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_GPIO_SYSFS=y
CONFIG_GPIO_BCM_VIRT=y
